*{
	box-sizing: border-box;
}

body{
	font-size: 16px;
}
@media(min-width: 992px) {
	.col-lg{
		float:left;
		border: 1px solid black;
		width:32%;
	}
}
@media(min-width: 768px) and (max-width: 991px) {
	.col-md-1{
		float: left;
		border: 1px solid black;
		width: 45%;
	}
	.col-md-2{
		float:left;
		border: 1px solid black;
		width: 91.5%;
	}
}
@media(max-width:767px) {
	.col-sm{
		float:left;
		border: 1px solid black;
		width: 90%;

	}
}
#menu{
	font-size: 1.75em;
	text-align: center;
	margin-bottom:35px;
	font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
}
.row{
	width:100%;
}
.Chicken{
	position: absolute;
	font-size: 1.25em;
	right: 0px;
	background-color: #ff164c;
	width: 100px;
	padding: 0px 10px 0px 10px;
}
.one{
	background-color: #d06300;
	position: relative;
	margin-right:  10px;
	margin-bottom: 10px;
	
}
.two{
	position: relative;
	background-color: #4f740e;
	margin-right:  10px;
	margin-bottom: 10px;
}
.three{
	position: relative;
	background-color: #ffd5c8;
	margin-right:  10px;
	margin-bottom: 10px;
}
.Beef{
	position: absolute;
	font-size: 1.25em;
	right: 0px;
	background-color: #9b116d;
	width: 100px;
	padding: 0px 25px 0px 25px;
}
.Sushi{
	position: absolute;
	font-size: 1.25em;
	right: 0px;
	background-color: #1c8bc8;
	width: 100px;
	padding: 0px 25px 0px 25px;
}
.p1{
	text-align: justify;
	padding: 10px 10px 10px 10px;
}
.p2{
	text-align: justify;
	padding: 10px 10px 10px 10px;
}
.p3{
	text-align: justify;
	padding: 10px 10px 10px 10px;
}
h2{
	margin: 0px;
	font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
}

p{
	font-family: Georgia, "Times New Roman",
          Times, serif;
}